body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.clear{
  clear: both;
  min-height: 5px;
}

.clearboth{
  clear: both;
}

.bdr {
  border: 1px solid lightgray;
}
